<% if game.over? %>
<% if game.winner? %>
<p><%= game.winner?.phone_number.to_s[7,10] %> Wins!</p>
<% else %>
<p>No Winner!</p>
<% end %>
<% else %>
<table>
	<tr>
		<td><%= game.space(1) %></td>
		<td><%= game.space(2) %></td>
		<td><%= game.space(3) %></td>
	</tr>
	<tr>
		<td><%= game.space(4) %></td>
		<td><%= game.space(5) %></td>
		<td><%= game.space(6) %></td>
	</tr>
	<tr>
		<td><%= game.space(7) %></td>
		<td><%= game.space(8) %></td>
		<td><%= game.space(9) %></td>
	</tr>
</table>
<% end %>