<% if game.over? %>
<% if game.winner? %>
<p class="status"><strong><%= game.winner?.to_s[7,10] %></strong> Wins!</p>
<% else %>
<p class="status">No Winner!</p>
<% end %>
<% elsif game.active && game.available %>
<p class="status">Waiting for another player.</p>
<% else %>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="b-bottom b-right"><%= game.space(1) %></td>
		<td class="b-bottom b-right"><%= game.space(2) %></td>
		<td class="b-bottom"><%= game.space(3) %></td>
	</tr>
	<tr>
		<td class="b-bottom b-right"><%= game.space(4) %></td>
		<td class="b-bottom b-right"><%= game.space(5) %></td>
		<td class="b-bottom"><%= game.space(6) %></td>
	</tr>
	<tr>
		<td class="b-right"><%= game.space(7) %></td>
		<td class="b-right"><%= game.space(8) %></td>
		<td class=""><%= game.space(9) %></td>
	</tr>
</table>
<% end %>