<table>
	<tr>
		<td><%= game.space(1) %></td>
		<td><%= game.space(2) %></td>
		<td><%= game.space(3) %></td>
	</tr>
	<tr>
		<td><%= game.space(4) %></td>
		<td><%= game.space(5) %></td>
		<td><%= game.space(6) %></td>
	</tr>
	<tr>
		<td><%= game.space(7) %></td>
		<td><%= game.space(8) %></td>
		<td><%= game.space(9) %></td>
	</tr>
</table>
