<h1>Twilio Tic Tac Toe</h1>
<h2>(815) 216-5378</h2>

<table border="1" width="100" height="100">
<% @games.each do |game| %>
<tr>
	<td>O's <%= Player.find(game.player_one).phone_number.to_s[7,10] unless game.player_two.blank? %></td>
</tr>
  <tr>
	<td><%= render :partial => 'game', :locals => {:game => game} %></td>
    <!-- <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<tr>
	<td>O's <%= Player.find(game.player_two).phone_number.to_s[7,10] unless game.player_two.blank? %></td>
</tr>
<% end %>
</table>